.container{
	width: 100%;
	height: calc(100vh-50px);
	display: flex;
}

.card{
	flex: 1;
	padding: 40px;
	padding-right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
	margin-left: 10.36%;
	margin-right: 5.86%;
}

.brand{
	color: #18214D;
	font-size: 56px;
	padding: 10px;
	font-style: normal;
	font-weight: 600;
}
.description{
	font-size: 18px;
	margin: 0;
	padding: 10px;
	font-style: normal;
	font-weight: 400;
	margin-top: 1%;
}
.service{
	font-size: 22px;
	margin-top: 7%;
	display: flex;
	align-items: center;
	position: relative;
}
.icon{
	position: absolute;
	margin-left: 5%;
}
.oval{
	margin-right: 5%;
}
